.batton{
    margin-left: 250px;
  }
  button{
    background-color: white;
    color:#289BDE;rgb(50, 50, 227);
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #289BDE;
    border-radius: 5px;
    margin-top: 10px;
    height: 50px;
    padding:10px 20px;
  }
 .head{
  margin-bottom: 40px;
 }
  .hour{
    margin-bottom: 180px;
    background-color:#289BDE;
    color:white;
  }
  .second-div{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 70px;
  }
  .second-sec{
    text-align: center;
    margin-top: 40px;
  }
  .betton{
    background-color: #289BDE;
    padding: 10px;
    width: 248px;
  }
  .picture{
    width: 700px;
    height: 806px;
  }
  .last{
    color: white;
    background-color: #289BDE;
  }
  .main{
    background-color: #F4FAFD;
  }
  .mid-sec{
    height: 300px;
    border-radius: 5px;
    background: #289BDE;
    margin-top: 130px;
    padding:100px;
  }
  .last-batton{
    margin-left: 450px;
    margin-top: 60px;
  }