.batton{
    margin-left: 250px;
  }
  button{
    background-color: white;
    color:#289BDE;rgb(50, 50, 227);
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #289BDE;
    border-radius: 5px;
    margin-top: 10px;
    height: 50px;
    padding:10px 20px;
  }
 .head{
  margin-bottom: 40px;
 }
  .hour{
    margin-bottom: 180px;
    background-color:#289BDE;
    color:white;
  }
  .second-div{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 70px;
  }
  .second-sec{
    text-align: center;
    margin-top: 40px;
  }
  .betton{
    background-color: #289BDE;
    padding: 10px;
    width: 248px;
  }
  .picture{
    width: 700px;
    height: 806px;
  }
  .last{
    color: white;
    background-color: #289BDE;
  }
  .main{
    background-color: #F4FAFD;
  }
  .mid-sec{
    height: 300px;
    border-radius: 5px;
    background: #289BDE;
    margin-top: 130px;
    padding:100px;
  }
  .last-batton{
    margin-left: 450px;
    margin-top: 60px;
  }
  .flat{
    margin-top: 130px;
  }
  .contact{
    margin-left: 590px;
    color: white;
    background-color: #289BDE;
    width: 146px;
    margin-top: 50px;
  }
  .again-div{
    text-align: center;
    margin-top: 130px;
  }
  .chobi{
    width: 55px;
    height: 44px;
    margin-left: 20px;
  }
  .chobit{
    width: 24px;
    height: 24px;
  }
  .pictures{
    margin-left: 350px;
  }
  .last-pic{
    opacity: 0.5;
  }
  .further-div{
    text-align: center;
    margin-top: 60px;
  }
  .last-select{
    margin-left: 260px;
    width: 872px;
    height: 80px;
    background-color: rgba(40, 155, 222, 0.10);
    margin-top: 70px;
  }
  .parag{
    margin-left: 290px;
    margin-top: 30px;
  }
  .last-option{
    margin-left: 260px;
    width: 872px;
    height: 80px;
    margin-top: 30px;
  }
  .capture{
    margin-left: 65px;
    margin-top: 40px;
  }
  .last-sec{
    text-align: center;
    color:white;
    margin-top: 130px;
    padding:100px;
  }